@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Great+Vibes&family=Niconne&family=Urbanist&display=swap');

/* body css */

.title {
    /* font-style: normal; */
    font-family: 'Great Vibes', cursive;
}

a {
    text-decoration: none;
    color: currentColor;
}

body,
html {
    width: 100%;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Urbanist', sans-serif;
}

/* header css */

header {
    height: 150px;
    width: 100vw;
    background-color: #FFF9F0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 25%);
    display: flex;
    align-items: center;
}

header .navb-logo {
    display: flex;
    align-items: center;
    position: relative;
    left: -60px;
}

header .cont {
    font-family: 'Urbanist', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
    position: relative;
    left: 30rem;
    padding-bottom: 2rem;
}

header .navb-logo .title {
    padding-top: 1rem;
    font-weight: bold;
    font-size: 3.5vw;
}

header .container-fluid {
    width: 100%;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .navb-logo img {
    width: 160px;
    height: 150px;
    border-radius: 50%;
}

header .navb-items {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 3px;
    background-color: #FFF9F0;
    padding-left: 6rem;
}

header .item {
    text-align: center;
    margin-inline: 4%;
    font-size: 20px;
    letter-spacing: 3px;
    color: #102447;
    padding: 5px 0px;
    transition: all .1s ease;
    border-bottom: 0px solid #F3DCA9;
    border-top: 0px solid #F3DCA9;
    cursor: pointer;
    font-size: 20px;
}

header .item:hover {
    border-bottom: 3px solid #F3DCA9;
    border-top: 3px solid #F3DCA9;
}

header .item-button {
    padding: 12px;
    background-color: #F3DCA9;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    display: inline;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: currentColor;
    transition: all .5s ease;
    cursor: pointer;
}

header .item-button:hover {
    background-color: #dfbc68;
}

@media (max-width: 992px) {
    header .navb-items {
        display: none;
    }
}

@media (max-width: 768px) {
    header .navb-logo .title {
        font-size: 2rem;
    }
}


/* modal css */

.modal-content {
    background-color: #FFF9F0;
}

.modal-dialog {
    margin: 0;
    width: 430px;
}

@media (max-width: 450px) {
    .modal-dialog {
        width: 233px;
    }
}

.modal-content {
    border-radius: 0;
    height: 100vh;
    overflow-y: scroll;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 88%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 2px solid #F3DCA9;
    margin-left: 0px;
}

.modal-header h2{
    font-weight: 800;
    margin-top: 1rem;
}

.modal-header .btn-close {
    background: transparent;
    opacity: 1;
}

.modal-header i {
    font-size: 30px;
}

.modal-body {
    width: 88%;
    margin: 0 auto;
    padding: 75px 0 0 0;
    flex: unset;
}

.modal-body .modal-line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 7px 0;
    margin-bottom: 50px;
    cursor: pointer;
    transition: all .5s ease;
    color: rgba(201, 178, 3, 0.975);
    border-bottom: 1px solid #F3DCA9;
}

.modal-body .modal-line:hover {
    color: #000000;
    border-bottom: 1px solid #dfbc68;
}

.modal-line a {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2.5px;
    color: black;
}

.modal-line i {
    color: currentColor;
    font-size: 30px;
    width: 35px;
    margin-right: 15px;
    padding: 0 0 3px 3px;
}

/* mobile view modal css */
.mobile-modal-footer {
    width: 87%;
    margin: 0 auto;
    padding: 20% 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: black;
}

.mobile-modal-footer a {
    font-size: 40px;
}

.mobile-modal-footer a:hover {
    transform: scale(1.2);
}

.mobile-modal-footer .insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 40px;
    /* change this to change the size*/

}

/* header bgimg */
header .container-fluid {
    background-image: url("../img/ribb.png");
    background-position: top;
}

/* header css end */

/* footer css start */
footer .container-fuild .row{
    padding-top: 40px;
    margin-top: 24px;
    border-top: 1px solid black;
    /* background-color: black; */
    color: #FFF9F0;
    position: relative;
}

footer{
    width: 100%;
}

footer .socialicon h3{
    margin-left: 3rem;
}

footer .socialicon{
    padding: 0 70px;
}

footer .socialicon a{
    text-decoration: none;
    padding: 8px 10px;
    padding-top: 14px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

footer .socialicon a i {
    font-size: 1.6rem;
    opacity: 0.9;
}

/* hover effect on socialicons */
footer .socialicon a:hover{
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

footer .socialicon a:hover i{
    color: whitesmoke;
    transition: 0.5s;
}


footer .copy-right p{
    position: absolute;
    text-align: center;
    background-color: black;
    color: whitesmoke;
    border-top: 1px solid #dfbc68;
    width: 100%;
}

.query{
    text-align: center;
    margin: 24px 14px 14px 14px;
    padding: 24px;
    background-color: #cccccc;
    border-radius: 10px;
}

.query p{
    margin: 1rem ;
}

@media (max-width: 1092px) {
    header .navb-logo img{
        font-size: 1.5rem !important;
        margin-left: 0rem !important;
    }
    
    header .navb-logo h3{
        font-weight: 300 !important;
        font-size: 12px !important;
    }
}

footer{
    background-image: url('/img/blackfloral1.jpg');
    background-size: cover;
}

@media (max-width: 768px) {
    footer .socialicon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer .contactfooter{
        text-align: center;
    }

    footer .buss-name, .socialicon h3{
        display: none;
    }

    footer .socialicon {
        margin: 20px;
    }

    footer .contactfooter{
        margin: 10px;
    }
}

/* footer .row{
    --bs-gutter-x: 0px !important;
} */

/* footer end  */


/* ------------------------- main content css ------------------------ */

body{
    background-image: url('/img/gold-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-content, .about-why{
    font-family: 'caveat brush', cursive;
}

/* about css */
.about-content .banner-img{
    justify-content: center;
    display: flex;
}

.about-content img{
    border-radius: 40px;
    padding: 15px;
    margin-top: 20px;    
}

.about-content .abt-txt{
    padding: 22px;
    margin: 20px;
    border: 2px solid whitesmoke;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    border-radius: 20px;
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.3);
}

.about-content .abt-txt h1{
    font-size: 50px;
    padding: 15px;
}

.about-content .abt-txt p{
    font-size: 22px;
    padding: 16px;
}

.about-main-section .about-why{
    padding: 28px;
}

/* about why css */
.about-why .why-content{
    padding: 18px;
}

.about-why .collage-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-why .collage-image img{
    border-radius: 10px;
    /* padding: 22px; */
    z-index: 2;
}

#eb-about-why{
    position: relative;
    display: flex;
    overflow: hidden;
}

.container .about-why h1{
    font-size: 50px;
    padding: 15px;
}

.container .about-why p{
    font-size: 19px;
    padding: 8px;
}

.container .about-why{
    justify-content: space-around;
    border: 2px solid black;
    z-index: 2;
    /* background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    border-radius: 20px; */
    box-shadow: 0 0 3px 5px rgba(0, 0, 0, 0.3);
    color: whitesmoke;
}

#eb-about-why::before{
    content: '';
    position: absolute;
    width: 2370px;
    margin-left: 4rem;
    height:1000%;
    background: linear-gradient(#00ccff, #d500f9);
    animation: rotate 4s linear infinite;
    /* overflow: unset; */
    /* z-index: 0; */
}

#eb-about-why::after{
    content: '';
    position: absolute;
    background: #525252;
    inset: 5px;
}

@keyframes rotate {
    form{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/* about contact css */
#eb-about-contact{
    border: 1px solid whitesmoke;
    border-radius: 3px;
    padding: 28px;
    background-color: black;
}

.about-contact{
    justify-content: space-around;
    color: gold;
}

.about-contact .about-cnt-us{
    line-height: 30px;
}

.about-contact .about-data {
    padding: 22px;
    line-height: 30px;
}

.about-contact .about-data a{
    color: deepskyblue;
    text-decoration: underline;
    font-weight: 200;
    font-size: 20px;
}

@media (max-width: 992px) {
    .about-contact .about-data a{
        font-size: 17px;
    }
}

/* contact css end */