.eb-engmnt{
    background-image: url(/img/Services/engagement/engmnt9.webp);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
}

@media (min-width: 1024px) {
    #imageModal{
        top: 200rem !important;
        height: 125% !important;
    }
}

@media (min-width:469px) and (max-width: 668px) {
    #imageModal{
        top: 328rem !important;
        height: 85% !important;
    }
}

@media (max-width: 468px) {
    #imageModal{
        top: 317rem !important;
        height: 63% !important;
    }
}

@media (max-width: 392px) {
    #imageModal{
        top: 334rem !important;
        height: 63% !important;
    }
}