.eb-engmnt{
    background-image: url(/img/Services/engagement/engmnt9.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
}

@media (min-width: 1024px) {
    #imageModal{
        top: 205rem !important;
        height: 125% !important;
    }
}