.live-food{
    background-image: url("https://previews.123rf.com/images/petitelili/petitelili1507/petitelili150700008/41970332-seamless-background-with-cute-cartoon-hand-drawn-objects-on-mexican-food-theme-chili-taco-tobacco.jpg");
    backdrop-filter: blur(7px);
    background-repeat: no-repeat;
    background-size: cover;
}