.eb-naming{
    background-image: url(/img/Services/naming-ceremony/naming1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(7px);
}

/* gallery modal css */
@media (min-width: 1024px) {
    #imageModal{
        top: 245rem !important;
        height: 120% !important;
    }
}

@media (min-width:469px) and (max-width: 668px) {
    #imageModal{
        top: 395rem !important;
        height: 95% !important;
    }
}

@media (max-width: 468px) {
    #imageModal{
        top: 360rem !important;
        height: 63% !important;
    }
}

@media (max-width: 392px) {
    #imageModal{
        top: 382rem !important;
        height: 63% !important;
    }
}