/* Gallery styles */

/* .videocontainer{
    font-family: 'caveat brush', cursive;background-color: goldenrod;padding: 20px;border-radius: 10px;margin-top: 2rem;margin-bottom: 2rem;
} */

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video-content {
    flex: 0 0 calc(33.33% - 20px); /* 3 columns with some spacing */
    margin: 10px;
    position: relative;
}

.video-item {
    width: 100%;
    cursor: pointer;
    border: 5px solid;
    border-radius: 3px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
    transition: all .2s ease;
}

.vid-zoom {
    overflow: hidden;
}

.vid-zoom:hover .video-item {
    transform: scale(1.1);
}

.vid-text{
    display: none;
    position: absolute;
    bottom: -8px;
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.video-content:hover .vid-text{
    display: block;
}

/* Modal styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.popup video {
    width: 70%;
    max-height: 90%;
    margin: auto;
    display: block;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

@media (max-width: 468px) {
    .video-item{
        border: 3px solid;
    }

    .vid-text{
        font-size: 70%;
    }
}
